@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    width: 100vw;
}
header{
    color: black;
    background-image: none;
}

#imenu{display: none;}

#itens{display: none;}

main > section{  box-shadow: none; }

h3{color: black;}

main > section > article > section.aprender_mais{box-shadow: none;}
    

main ul{columns: 2;}

div.video{display: none;}