@charset "UTF-8";

body{
    background-image: url(../imagens/back-pc.jpg);
}

#celular{display:none;}
#tablet{display:none;}
#impressora{display: none;}
#pc{display: block;}
#televisao{display:none;}